# Dependencies
node_modules/

# Build output
dist
dist-ssr
*.local

# TLS private key
server/key.pem

# Environment variables
.env

# Editor and OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
EOF